{
    "api-key": "",
    "api-key-secret":"",
    "bearer-token": "",
    "access-token": "",
    "access-token-secret": "",
    "oAuth": {
        "client-id": "",
        "client-secret": ""
    }
}